<br />
<mat-accordion *ngIf="books.length > 0">
  <mat-expansion-panel *ngFor="let book of books">
    <mat-expansion-panel-header
      >Name: {{ book.name }}</mat-expansion-panel-header
    >
    <p>Author: {{ book.author }}</p>

    <mat-action-row>
      <button mat-button color="primary">EDITAR</button>
      <button mat-button color="warn">REMOVER</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="books.length <= 0">
  No books
</p>
