<div [ngStyle]="obterEstilosParaOCard()" class="card text-center mx-auto my-3">
  <img
    style="background-color: #004684;"
    class="card-img-top"
    src="https://maua.br/img/default/logo_maua.png"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">BEM VINDO</h5>
    <p class="card-text">
      Aqui temos informações sobre alguns cursos do Instituto Mauá de Tecnologia
    </p>
  </div>
</div>

<footer [ngClass]="obterClassesRodape()">
  Angular. 2020. Google Inc.
</footer>
