<ng-container>
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nomes</th>
        <th scope="col">Currículo Lattes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Everson Denis</td>
        <td>
          <a href="http://lattes.cnpq.br/6188650686969796" target="_blank"
            >Acesse aqui</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Aparecido Valdemir de Freitas</td>
        <td>
          <a href="http://lattes.cnpq.br/7066902372313632" target="_blank"
            >Acesse aqui</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ana Paula Gonçalves Serra</td>
        <td>
          <a href="http://lattes.cnpq.br/9640606649282934" target="_blank"
            >Acesse aqui</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Sergio Ribeiro Augusto</td>
        <td>
          <a href="http://lattes.cnpq.br/5713896758998889" target="_blank"
            >Acesse aqui</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Rodrigo Bossini Tavares Moreira</td>
        <td>
          <a href="http://lattes.cnpq.br/6239865403144513" target="_blank"
            >Acesse aqui</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Murilo Zanini de Carvalho</td>
        <td>
          <a href="http://lattes.cnpq.br/2274636131728093" target="_blank"
            >Acesse aqui</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
